/* .top-home-div{
  background-color: #FC7753;
  border-radius: 50px;
} */

.welcome-message{
  font-family: 'Shippori Mincho B1', serif;
  text-align: center;
}

.productContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #DAEFB3;
  }


  .images{
      height: 200px;
      width: 200px;
      margin: 15px;
  }

  .product-price{
    margin-top: 0;
    font-family: 'Shippori Mincho B1', serif;
  }

  .description{
    display: flex;
    align-items: flex-start;
    width: 800px;
  }

  p{
    display: flex;
    text-align: left;
    font-size: 20px;
    font-family: 'Shippori Mincho B1', serif;
    text-align: center;
  }

  .single-image{
    height: 400px;
    width: 400px;
  }

  .image-block{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  .createFormContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
  }

  .create-heading{
    margin: 0 auto;
    text-align: center;
  }

  .createForm{
    display: block;
    margin: 20px auto;
    justify-content: center;
  }

  .createInputs, .createDescription{
    width: 300px;
    height: 20px;
    padding: 2px 5px;
    margin-left: 40px;
  }


  .single-title{
    font-family: 'Shippori Mincho B1', serif;
  }

  .single-price{
    font-family: 'Shippori Mincho B1', serif;
  }

  .cart-button{
    background-color: black;
    color: white;
    font-family: 'Shippori Mincho B1', serif;
    font-size: 15px;
    cursor: pointer;
  }

  .create-button{
    background-color: black;
    color: white;
    font-family: 'Shippori Mincho B1', serif;
    font-size: 15px;
    cursor: pointer;
    margin: 10px 10px;
  }

  .create-div{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }

  .create-label{
    margin-bottom: 5px;
    font-size: 20px;
    margin-left: 40px;
  }
