.productContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }


  .images{
      height: 200px;
      width: 200px;
      margin: 15px;
  }

  .product-price{
    margin-top: 0;

  }

  .description{
    display: flex;
    align-items: flex-start;
    width: 800px;
  }

  p{
    display: flex;
    text-align: left;
    font-size: 20px;
  }

  .single-image{
    height: 400px;
    width: 400px;
  }

  .image-block{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  .createFormContainer{
    display: flex;
    border: 1px dotted orange;
    border-radius: 40px;
    background-color: aliceblue;
    width: 500px;
    height: 500px;
    margin: 20px auto;
  }

  .createForm{
    display: block;
    margin: 100px;
    justify-content: space-around;
  }

  .createInputs{
    border-radius: 5px;
    width: 250px;
    height:25px;
    margin: 0 auto;
    margin-top: 10px;
    box-shadow: 0 1px 4px 0 rgba(34, 34, 34, 0.1)
  }

  .createDescription{
    /* margin: 0 20px; */
    margin-top: 10px;
    justify-content: center;
    height: 50px;
    width: 250px;
  }

  /* .createButton{
    margin: 20px;
    height: 30px;
    line-height: 25px;
  } */
