/* .top-home-div{
  background-color: #FC7753;
  border-radius: 50px;
} */

.welcome-message{
  font-family: 'Shippori Mincho B1', serif;
  text-align: center;
}

.productContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }


  .images{
      height: 200px;
      width: 200px;
      margin: 15px;
  }

  .product-price{
    margin-top: 0;
    font-family: 'Shippori Mincho B1', serif;
  }

  .description{
    display: flex;
    align-items: flex-start;
    width: 800px;
  }

  p{
    display: flex;
    text-align: left;
    font-size: 20px;
    font-family: 'Shippori Mincho B1', serif;
    text-align: center;
  }

  .single-image{
    height: 400px;
    width: 400px;
  }

  .image-block{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  .createFormContainer{
    display: flex;
    border: 1px dotted orange;
    border-radius: 40px;
    background-color: aliceblue;
    width: 500px;
    height: 500px;
    margin: 20px auto;
  }

  .createForm{
    display: block;
    margin: 100px;
    justify-content: space-around;
  }

  .createInputs{
    border-radius: 5px;
    width: 250px;
    height:25px;
    margin: 0 auto;
    margin-top: 10px;
    box-shadow: 0 1px 4px 0 rgba(34, 34, 34, 0.1)
  }

  .createDescription{
    /* margin: 0 20px; */
    margin-top: 10px;
    justify-content: center;
    height: 50px;
    width: 250px;
  }

  .single-title{
    font-family: 'Shippori Mincho B1', serif;
  }

  .single-price{
    font-family: 'Shippori Mincho B1', serif;
  }

  .cart-button{
    background-color: black;
    color: white;
    font-family: 'Shippori Mincho B1', serif;
    font-size: 15px;
    cursor: pointer;
  }

  .create-button{
    background-color: black;
    color: white;
    font-family: 'Shippori Mincho B1', serif;
    font-size: 15px;
    cursor: pointer;
    margin: 10px 10px;
  }
