.category-div{

}

.category-map{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

.category-paragraph{
    margin: 0 100px;
    text-align: center;

}

.oldItem-obj, .newItem-obj, .borrowed-obj, .blueItem-obj{
    margin: 10px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.old-img, .new-img, .borrowed-img, .blue-img{
    height: 200px;
    width: 200px;
}

.blue-title, .borrowed-title, .new-title, .old-title{
    margin-top: 0;
}

.blue-price, .borrowed-price, .new-price, .old-price{
    margin-top: 0;
}
