.category-div{

}

.category-map{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

.oldItem-obj, .newItem-obj, .borrowed-obj, .blueItem-obj{
    margin: 10px;
}

.old-img, .new-img, .borrowed-img, .blue-img{
    height: 200px;
    width: 200px;
}
