.fa-shopping-cart{
    margin-top: 15px;
    margin-left: 15px;
    cursor: pointer;
}

.map-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cartItem{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
}

.remove-button{
    background-color: black;
    color: white;
    font-family: 'Shippori Mincho B1', serif;
    font-size: 15px;
    cursor: pointer;
}

.cart-amount-display{
    font-family: 'Shippori Mincho B1', serif;
    text-align: center;
}
