.search-landing-div{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.product-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
}

.product-obj{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.product-words{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.product-title{
    font-size: 20px;
    font-weight: bold;
}

.form-container{
    border: 1px solid black;
    border-radius: 50px;
}

.search{
    border: none;
    background: transparent;
    justify-content: center;
    color: #222222;
    font-size: 16px;
    line-height: 28px;
    height: 40px;
    width: 50rem;
    outline: none;
  }

  .nav-search__submit{
      border: none;
      background: none;
      cursor: pointer;
  }

  .search input{
    margin-left: 50px;
  }
