.search-landing-div{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.product-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    /* margin: 10px; */
}

.product-obj{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.product-words{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.product-title{
    font-size: 20px;
    font-weight: bold;
}
