
li{
  list-style: none;
  display: flex;
}

.search{
  border-radius: 50px;
  width: 1000px;
  background: transparent;
  justify-content: center;
  color: #222222;
  font-size: 16px;
  line-height: 28px;
  height: 40px;
  outline: none;
}

.search input{
  margin-left: 50px;
}

.sixpence-logo{
  color: rgb(255, 123, 0);
  font-size: 40px;
  text-decoration: none;
  margin: 0 15px;
  font-family: 'Shippori Mincho B1', serif;
}

.demo-container{

}

.demo-login{
  margin: 15px 10px;
  border: none;
  background: none;
  color: #36454F;
  font-size: 15px;
}

.authentication-links{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.category-container{
  display: flex;
  flex-direction: row;
}

.categories{
  display: flex;
  text-decoration: none;
  margin: 0 auto;
  color: #36454F;
}

.auth-links{
  display: flex;
  justify-content: flex-end;
}

.sign-in{
  background: none;
  border: none;
  padding: 0px;
  text-decoration: none;
  color: #36454F;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
}

.register{
  text-decoration: none;
  color: #36454F;
  font-size: 15px;
  margin-left: 20px;
  margin-top: 15px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

.shopping-cart::after{
  content: "🛒";
}

.shopping-cart{
  display: inline;
  width: 100px;
height: 38px;
border-radius: 5px;
  margin: 18px;
}

.logged-in-container{
  display: flex;
  margin-top: 15px;
}

.profile-photo{
  display: flex;
  justify-content: flex-end;
  line-height: 28px;
  width: 100px;
  height: 100px;
  margin-left: 15px;
  margin-top: -20px;
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.profile-dropdown{
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
  left: 1200px;
  top: 120px;
}

.link{
  text-decoration: none;
  color: black;
  /* color: #36454F; */
  /* font-size: 15px; */
}

.link:hover{
  background-color: aliceblue;
}

.navbar{
  display: flex;
  justify-content: space-between;
}

.profile-photo{
  width: 60px;
  height: 60px;
  margin-top: 0px;
}

.logout{
  background-color: black;
  color: white;
  font-family: 'Shippori Mincho B1', serif;
  font-size: 12px;
  cursor: pointer;
}
